<!DOCTYPE html>
<html>
    <head>
        <title> Facultas - pagina principala</title>
        <style>
            body{
                background-color:rgb(210, 210, 210);
            }
            h1.titlu-p-p{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color:darkgreen;
            }
            a {
                text-decoration: none;
                color: blueviolet;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                background-color: cyan;
            }
        </style>
    </head>
    <body>
        <h1 class="titlu-p-p">
            FACULTAS- ajutorul tau in viata
        </h1>
        <a href="{% url 'facultatiromania' %}"> Vreau la facultate in Romania!</a>
        <p>
            Facultas te ajuta sa explorezi facultatie de prestigiu din fiecare oras, si prin intermediu unui chetionar,
            iti sugereaza cea mai buna optiune pentru tine. Incearca si tu Facultas GRATUIT.
        </p>
        <a href="{% url 'cvmeniu' %}">Vreau un CV de succes!</a>
        <p>
            Facultas iti ofera o analiza gratuita a CV-ului tau existent si te poate ajuta sa-l imbunatatesti pentru cererile angajatorului.
        </p>
        <a href="{% url 'bibliografie' %}">Cine suntem noi?</a>
        <p>
            Realizat de echipa Tea Team din cadrul DB technology group.
        </p>
    </body>
</html>