<!DOCTYPE html>
<html>
    <head>
        <title>Facultati Romania</title>
    </head>
    <style>
        body{
                background-color:rgb(210, 210, 210);
            }
            h1{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color:darkgreen;
            }
            a {
                text-decoration: none;
                color: blueviolet;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                background-color: cyan;
            }
    </style>
    <body>
        <h1>Facultati Romania</h1>
        <a href="catalog">Catalog</a>
        <a href="chestionar">Chestionar</a>
    </body>
</html>