<!DOCTYPE html>
<html>
    <head>
        <title>Facultati Romania</title>
    </head>
    <style>
        body{
                background-color:rgb(210, 210, 210);
            }
            h1{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color:darkgreen;
            }
            a {
                text-decoration: none;
                color: blueviolet;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                background-color: cyan;
            }
    </style>
    <body>
        <h1>Facultati Romania</h1>
        <a href="{% url 'catalogfacultati' %}">Catalog</a>
        <br>
        <a href="{% url 'chestionar' %}">Chestionar</a>
        <br>
        <br>
        <a href="{% url 'ecranprincipal' %}">
            <button>Inapoi la meniul precedent</button>
        </a>
    </body>
</html>